.title-page {
    width: 320px;
    margin: auto;
    margin-top: 71px;
    margin-bottom: 28px;
    color: #164B60;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

    .title-custom {
        border-radius: 17px;
        background: #A2FF86;
        padding: 10px;
    }
}